body {
    padding: 0 1em;
}

.underline {
    text-decoration: underline;
}

.info {
    overflow: auto; /* scrollbar */
    font: italic 13px fantasy;
}

image {
    border: 10px ridge red;
}

code {
    background-color: rgb(223, 221, 221);
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}

/* tr:nth-child(even) {background-color: rgb(160, 190, 198);} */
th, td {
    border-bottom: 1px solid;
    line-height: 1.5em;
    padding: 0 .5em;
}

th {
    background-color: rgb(98, 157, 157);
    color: aliceblue;
}

footer {
    clear: both;
    background-color: rgb(158, 199, 206);
    font: italic 13px "courier";
    padding-left: 1em;
    margin-top: 1em;
}

h1 {
    border: 2px solid rgb(163, 209, 228);
    border-radius: 10px;
    text-align: center;
}

a:link {
    padding-right: .5em;
}
 a:hover {
    color: rgb(132, 198, 176);
 }